{% extends 'main.html'%} 
{% load static %}  
{% block content %}
<br>
<br>
<div class="container" style="color: black; max-width: 600px; background: rgba(215, 214, 214, 0.772);">

        <h1>Reserve Your Table</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Reserve" class="btn btn-primary">
        </form>
    
        <div class="d-flex justify-content-between">
            <a href="{% url 'view-reservation' %}" class="btn btn-info">View Reservations</a>
            <a href="{% url 'logout' %}" class="btn btn-danger ml-auto">Logout</a>
        </div>

    </div>

    <div class="section-empty"style="margin-top:20%;">
        <div class="container content">
            <div class="row">
              <hr class="space xs hidden-sm" />
              <hr />
                <div class="col-md-2 col-sm-12 text-center-sm">
                    
                    <div class="title-base text-left text-center-sm">
                        
                        <h2>Hours</h2>
                        <p>Our open schedules</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 text-center-sm">
                  <table class="table table-hover" style="width:900 ;">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thurdsay</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Reservation Time</th>
                            <td>8am - 11pm</td>
                            <td>8am - 11pm</td>
                            <td>8am - 11pm</td>
                            <td>8am - 11pm</td>
                            <td>8am - 11pm</td>
                            <td>Closed</td>
                            <td>8am - 11pm</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

{%endblock%}